/* ------------------------------- GENERAL STYLES ------------------------------- */

/* PAGE */
body{
	font-family: 'Crimson Text', serif;
    max-width: 1400px;
    padding: 40px 40px 5px 40px;
    margin: 0 auto;
    display: flex;
    background-color: #FCF9F7;
}
.canvas {
    float: right;
    width: 100%;
}
* {
	box-sizing: border-box;
}


/* SIDEBAR */
.sidebar {
    display: none;
    float: left;
    height: 100%;
    width: 390px;
    top: 0;
}
.sidebar a {
    text-decoration: none;
    display: block;
    line-height: 1.7;
}
@media screen and (min-width: 1000px){
.sidebar {
    display: inline-block;
  }
}


/* MOBILE NAV */
.menu {
	font-size: 18px;
    font-weight: 600;
	cursor:pointer;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(17,17,20, 0.96);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
	position: relative;
	width: 100%;
	text-align: left;
    font-size: 25px;
    line-height: 2;
    padding: 40px 40px;
}
@media screen and (max-height: 600px){
    .overlay-content {
        line-height: 1.2;
    }
    .overlay {
        overflow-y: auto;
    }
}
.overlay a {
	text-decoration: none;
	color: #FCF9F7;
	display: block;
	transition: 0.3s;
    padding-bottom: 0px;
}
.overlay a:hover, .overlay a:focus {
	color: #358963;
}
.overlay .closebtn {
	position: absolute;
	top: 27px;
	right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 50px;
    z-index: 1;
}



/* MOBILE HEADER */
.header {
	height: auto;
	margin: 0;
    padding-bottom: 20px;
	display: flex;
	align-items: baseline;
}
@media screen and (min-width: 1000px){
.header {
    display: none;
  }            
}
.header a {
	text-decoration: none;
	transition: ease .2s;
}
.left {
	float: left;
	white-space: nowrap;
	width: 50%;
}
.right {
	float: right;
	width: 50%;
	text-align: right;
}


/* HEADINGS, SUBHEADINGS, COLORS AND HOVERS  */
body, button, a, .menu {
    color: #111114;
}
a:hover, button:hover, .menu:hover {
    color: #358963;
} 
h1 {
	font-size: 30px;
	line-height: 1.5;
	font-weight: 600;
	padding: 0;
    margin: 0 0 20px 0;
}
h2 {
	font-size: 25px;
	line-height: 1.5;
	font-weight: 400;
    margin: 0 0 10px 0;
} 
.sidebar a {
    font-size: 25px;
	line-height: 2;
	font-weight: 400;
}
h3 {
    font-size: 19px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 0;
}
p  {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
}
p a {
    text-decoration: none;
}


/* LINE */
.line {
	width: 100%;
	border-bottom: solid black 1px;
    padding-top: 30px;
    margin-bottom: 40px;
}
.doubleline {
    width: 100%;
    border-bottom: solid black 3px;
    border-top: solid black 1px;
    height: 8px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.navline {
	width: 100%;
	border-bottom: solid white 1px;
}


/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin: 40px 0 10px 0;
  padding: 5px 0;   
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  width: 100%;
}
footer > a {
    line-height: 2;
    text-decoration: none;
	font-size: 16px;
}

@media screen and (max-width: 660px){
footer {
    flex-direction: column;
    }  
}


/* MENUS */
.menucolumn1 {
    float: left;
    width: 45%;
}
.menucolumn2 {
    float: right;
    width: 45%;
}

.menucolumn1 h3, 
.menucolumn2 h3 {
    margin: 0;
}

.menucolumn1 p, 
.menucolumn2 p {
    padding-bottom: 15px;
}

@media screen and (max-width: 650px) {
    .menucolumn1, .menucolumn2 {
        width: 100%;
    }
}
 


        
img {
    margin-top: 0px;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}    
    
.map {
    filter:contrast(.94);
    height: 310px;
    width: 100%;
    margin-top: 20px;
}

/* ABOUT PAGE*/
.row {
    padding: 20px 0;
}
.column1 {
    float: left;
    width: 45%;
}
.column2 {
    float: right;
    width: 45%;
}
.column3 {
    float: left;
    width: 20%;
}
.column3 h2 {
    margin: -5px 0 0 0;
}
.column4 {
    float: right;
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 650px) {
    .column1, .column2, .column3, .column4 {
        width: 100%;
    }
}

/* CAFE PAGE */
.column5 {
    float: left;
    width: 230px;
}
.column6 {
    float: right;
    width: calc(100% - 290px);
}
@media screen and (max-width: 650px) {
    .column5, .column6 {
        width: 100%;
    }
    .column6 {
        margin-top: 40px;
    }
}



/* CONTACT PAGE */
.contactrow {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    padding-bottom: 15px;
    
}
.thirds {
    width: auto;
}
@media screen and (max-width: 700px){
    .thirds {
        width: 100%;
    }
    .contactrow {
        display: block;
    }
}

   
    